body {
    background-color: #0f0f0f;
}
section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
div#bscard {
    width: 30vw;
    color: #fff;
    padding: 10px;
    border-radius: 17px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
.dataBox {
    display: flex;
    flex-direction: column;
    width: 85%;
    align-items: flex-start;
}
img {
    width: 100%;
}
div#titleBox {
    display: flex;
    justify-content: space-between;
}
span#date:before {
    content: "•";
    margin: 0 4px;
}
#bsImg img {
    border-radius: 14px;
}
div#bsLogo {
    width: 35px;
}
div#bsLogo img {
    border-radius: 50%;
}